<ion-header>
    <ion-navbar color="dark-theme">
    <ion-title>Accueil</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  
  <ion-list>
  <h3>LES CRYPTOMONNAIES</h3>
  <button ion-item *ngFor="let item of items" (click)="itemSelected(item)">
    {{ item.title }} vaut {{ item.price }} {{ item.currency }}
    
  </button>  
</ion-list>
 <ion-list>
 <h3>Les dernières transactions</h3>
  <button ion-item *ngFor="let transaction of transactions" (click)="allTransactions(transaction)">
    {{ transaction.sender }} a reçu {{ transaction.amount }} de {{ transaction.recipient }}
    
  </button>  
</ion-list>
</ion-content>
