page-home {
  ion-content {
    .bg-header {
      background-image: url(../assets/imgs/chambre2_2.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      ion-col {
        color: #FFFFFF ;
        background-color: rgba(50, 50, 50, 0.50);
        width: 100%;
        height: 100%;
      }
    }
    ion-card-content {
      ion-icon {
        color: #302bf3
      }
      ion-card-title {
        font-weight: 600;
      }
      span {
        text-transform: uppercase;
        font-weight: 600;
        color: #302bf3;
      }
      p {
        &:last-child {
          font-style: italic;
        }
      }
    }
  }
}

